<div class="container top-space">
  <div class="row">
    <h1 class="text-center"><b>ABOUT</b> US</h1>
    <p>A design driven development company, solving problems through design. In ‘Why?’ we trust. <br>
       At Spiceblue, we strive at redefining how the users interact with digital applications, by making the interfaces aesthetically pleasing and visually appealing. We research, solve, design, analyze and develop. Our primary aim is not designing for our clients, but designing for their users. Our goals and the user goals are no different. We have our own effective design process which makes life easy and pleasurable for the user. <br>
       We always trade with simple solutions for complex problems. Our apps and websites not only look great, but accomplish user and business goals with ease. We are your digital partner. Websites, Web Apps, Mobile Apps, Smart Watch Apps you name it, we build it.</p>
  </div>
</div>