<footer class="footer-gray">
  <div class="container">
    <div class="row jedi">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <img src="../../../assets/images/logo2a.png" alt="">        
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
         <h3 class="">Contact <b>Info</b></h3>
        
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-red">
          <h3 class="">About <b>Us</b></h3>
          <ul class="nav">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Group</a></li>
          </ul>      
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 tie">
          <h3>Social<b>Network</b></h3>  
          <ul class="nav navbar-nav">
            <li><a class="fa fa-facebook fa-lg" aria-hidden="true"></a></li>
            <li><a class="fa fa-twitter fa-lg" aria-hidden="true"></a></li>
            <li><a class="fa fa-pinterest-p fa-lg" aria-hidden="true"></a></li>                                            
            <li><a class="fa fa-google-plus fa-lg" aria-hidden="true"></a></li>
          </ul>    
      </div>                    
    </div>
  </div>
  <div class="copyright">
    <p class="pull-left font-color">&copy; 2017 minnaltech.co.uk All Rights Reserved.</p>
  </div>
</footer>